.system {
  background: #f0f8ff;
  border-radius: 8px;
  box-shadow: 0 0 20px 11px rgba(56, 66, 77, 0.1);
  max-width: 1010px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.download-container {
  margin: 30px 50px;
}
.icon-root > img {
  width: 90px;
  height: 90px;
  margin: 10px;
}
.icon-root > p {
  margin-top: 10px;
  margin-bottom: -10px;
}
.icon-root {
  display: flex;
  justify-content: center;
  margin-left: 12px;
  flex-direction: column;
  align-items: center;
}
.framework-root {
  display: flex;
  margin: 10px 0;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  min-height: 120px;
}
.framework {
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
  background: #d7e5ff;
  display: flex;
  width: calc(100% - 40px);
  flex-direction: row;
  flex-wrap: wrap;
}
.framework > p {
  width: 125px;
}
.redirect-to-download {
  margin-right: 20px;
  color: #00d6e1;
}
